.highcharts-container {
  margin: 0 auto;
  padding: 50px;
}
.highcharts-subtitle,
.highcharts-caption {
  display: none;
}
.highcharts-xaxis-grid .highcharts-grid-line {
  stroke-width: 1px;
  stroke: #d8d8d8;
}
.highcharts-xaxis .highcharts-tick {
  stroke-width: 1px;
  stroke: #d8d8d8;
}
.highcharts-minor-grid-line {
  stroke-dasharray: 2, 2;
}
.highcharts-axis.highcharts-xaxis .highcharts-axis-line {
  stroke-width: 1px;
  stroke: #000;
}
.highcharts-tick {
  display: none;
}