{% if POWERENERGY_ALLOW_USE %}
{% include 'overall_header.html' %}

{% INCLUDECSS '@dmzx_powerenergy/powerenergy.css' %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>

<div id="tabs" class="tabs">
	<ul>
		<li class="tab activetab" id="tab_h"><a href="#" onclick="window.open('{U_H_MODE}', '_self'); return false;"><div style="border: none;">{{ lang('POWERENERGY_HOURS') }}</div></a></li>
		<li class="tab" id="tab_d"><a href="#" onclick="window.open('{U_D_MODE}', '_self'); return false;"><div style="border: none;">{{ lang('POWERENERGY_DAYS') }}</div></a></li>
		<li class="tab" id="tab_m"><a href="#" onclick="window.open('{U_M_MODE}', '_self'); return false;"><div style="border: none;">{{ lang('POWERENERGY_MONTHS') }}</div></a></li>
	</ul>
</div>
<div class="panel bg1">
	<div class="container">
		<canvas id="Hours_Chart"></canvas>
	</div>
</div>

<script>
	var powerenergy = {

		{% for powerenergy_hours in loops.powerenergy_hours %}
			// HOURS
			// Power returned
			hours: {{ powerenergy_hours.POWERENERGY_HOUR_PWR }},
			hours1: {{ powerenergy_hours.POWERENERGY_HOUR1_PWR }},
			hours2: {{ powerenergy_hours.POWERENERGY_HOUR2_PWR }},
			hours3: {{ powerenergy_hours.POWERENERGY_HOUR3_PWR }},
			hours4: {{ powerenergy_hours.POWERENERGY_HOUR4_PWR }},
			hours5: {{ powerenergy_hours.POWERENERGY_HOUR5_PWR }},
			hours6: {{ powerenergy_hours.POWERENERGY_HOUR6_PWR }},
			hours7: {{ powerenergy_hours.POWERENERGY_HOUR7_PWR }},
			hours8: {{ powerenergy_hours.POWERENERGY_HOUR8_PWR }},
			hours9: {{ powerenergy_hours.POWERENERGY_HOUR9_PWR }},
			hours10: {{ powerenergy_hours.POWERENERGY_HOUR10_PWR }},
			hours11: {{ powerenergy_hours.POWERENERGY_HOUR11_PWR }},
			hours12: {{ powerenergy_hours.POWERENERGY_HOUR12_PWR }},
			hours13: {{ powerenergy_hours.POWERENERGY_HOUR13_PWR }},
			hours14: {{ powerenergy_hours.POWERENERGY_HOUR14_PWR }},
			hours15: {{ powerenergy_hours.POWERENERGY_HOUR15_PWR }},
			hours16: {{ powerenergy_hours.POWERENERGY_HOUR16_PWR }},
			hours17: {{ powerenergy_hours.POWERENERGY_HOUR17_PWR }},
			hours18: {{ powerenergy_hours.POWERENERGY_HOUR18_PWR }},
			hours19: {{ powerenergy_hours.POWERENERGY_HOUR19_PWR }},
			hours20: {{ powerenergy_hours.POWERENERGY_HOUR20_PWR }},
			hours21: {{ powerenergy_hours.POWERENERGY_HOUR21_PWR }},
			hours22: {{ powerenergy_hours.POWERENERGY_HOUR22_PWR }},
			hours23: {{ powerenergy_hours.POWERENERGY_HOUR23_PWR }},
			hours24: {{ powerenergy_hours.POWERENERGY_HOUR24_PWR }},
			hours25: {{ powerenergy_hours.POWERENERGY_HOUR25_PWR }},
			hours26: {{ powerenergy_hours.POWERENERGY_HOUR26_PWR }},
			hours27: {{ powerenergy_hours.POWERENERGY_HOUR27_PWR }},
			hours28: {{ powerenergy_hours.POWERENERGY_HOUR28_PWR }},
			hours29: {{ powerenergy_hours.POWERENERGY_HOUR29_PWR }},
			hours30: {{ powerenergy_hours.POWERENERGY_HOUR30_PWR }},
			// Power Used
			hours_pwu: {{ powerenergy_hours.POWERENERGY_HOUR_PWU }},
			hours1_pwu: {{ powerenergy_hours.POWERENERGY_HOUR1_PWU }},
			hours2_pwu: {{ powerenergy_hours.POWERENERGY_HOUR2_PWU }},
			hours3_pwu: {{ powerenergy_hours.POWERENERGY_HOUR3_PWU }},
			hours4_pwu: {{ powerenergy_hours.POWERENERGY_HOUR4_PWU }},
			hours5_pwu: {{ powerenergy_hours.POWERENERGY_HOUR5_PWU }},
			hours6_pwu: {{ powerenergy_hours.POWERENERGY_HOUR6_PWU }},
			hours7_pwu: {{ powerenergy_hours.POWERENERGY_HOUR7_PWU }},
			hours8_pwu: {{ powerenergy_hours.POWERENERGY_HOUR8_PWU }},
			hours9_pwu: {{ powerenergy_hours.POWERENERGY_HOUR9_PWU }},
			hours10_pwu: {{ powerenergy_hours.POWERENERGY_HOUR10_PWU }},
			hours11_pwu: {{ powerenergy_hours.POWERENERGY_HOUR11_PWU }},
			hours12_pwu: {{ powerenergy_hours.POWERENERGY_HOUR12_PWU }},
			hours13_pwu: {{ powerenergy_hours.POWERENERGY_HOUR13_PWU }},
			hours14_pwu: {{ powerenergy_hours.POWERENERGY_HOUR14_PWU }},
			hours15_pwu: {{ powerenergy_hours.POWERENERGY_HOUR15_PWU }},
			hours16_pwu: {{ powerenergy_hours.POWERENERGY_HOUR16_PWU }},
			hours17_pwu: {{ powerenergy_hours.POWERENERGY_HOUR17_PWU }},
			hours18_pwu: {{ powerenergy_hours.POWERENERGY_HOUR18_PWU }},
			hours19_pwu: {{ powerenergy_hours.POWERENERGY_HOUR19_PWU }},
			hours20_pwu: {{ powerenergy_hours.POWERENERGY_HOUR20_PWU }},
			hours21_pwu: {{ powerenergy_hours.POWERENERGY_HOUR21_PWU }},
			hours22_pwu: {{ powerenergy_hours.POWERENERGY_HOUR22_PWU }},
			hours23_pwu: {{ powerenergy_hours.POWERENERGY_HOUR23_PWU }},
			hours24_pwu: {{ powerenergy_hours.POWERENERGY_HOUR24_PWU }},
			hours25_pwu: {{ powerenergy_hours.POWERENERGY_HOUR25_PWU }},
			hours26_pwu: {{ powerenergy_hours.POWERENERGY_HOUR26_PWU }},
			hours27_pwu: {{ powerenergy_hours.POWERENERGY_HOUR27_PWU }},
			hours28_pwu: {{ powerenergy_hours.POWERENERGY_HOUR28_PWU }},
			hours29_pwu: {{ powerenergy_hours.POWERENERGY_HOUR29_PWU }},
			hours30_pwu: {{ powerenergy_hours.POWERENERGY_HOUR30_PWU }},
			// Date of hours
			hours_date: {{ powerenergy_hours.POWERENERGY_HOUR_DATE }},
			hours1_date: {{ powerenergy_hours.POWERENERGY_HOUR1_DATE }},
			hours2_date: {{ powerenergy_hours.POWERENERGY_HOUR2_DATE }},
			hours3_date: {{ powerenergy_hours.POWERENERGY_HOUR3_DATE }},
			hours4_date: {{ powerenergy_hours.POWERENERGY_HOUR4_DATE }},
			hours5_date: {{ powerenergy_hours.POWERENERGY_HOUR5_DATE }},
			hours6_date: {{ powerenergy_hours.POWERENERGY_HOUR6_DATE }},
			hours7_date: {{ powerenergy_hours.POWERENERGY_HOUR7_DATE }},
			hours8_date: {{ powerenergy_hours.POWERENERGY_HOUR8_DATE }},
			hours9_date: {{ powerenergy_hours.POWERENERGY_HOUR9_DATE }},
			hours10_date: {{ powerenergy_hours.POWERENERGY_HOUR10_DATE }},
			hours11_date: {{ powerenergy_hours.POWERENERGY_HOUR11_DATE }},
			hours12_date: {{ powerenergy_hours.POWERENERGY_HOUR12_DATE }},
			hours13_date: {{ powerenergy_hours.POWERENERGY_HOUR13_DATE }},
			hours14_date: {{ powerenergy_hours.POWERENERGY_HOUR14_DATE }},
			hours15_date: {{ powerenergy_hours.POWERENERGY_HOUR15_DATE }},
			hours16_date: {{ powerenergy_hours.POWERENERGY_HOUR16_DATE }},
			hours17_date: {{ powerenergy_hours.POWERENERGY_HOUR17_DATE }},
			hours18_date: {{ powerenergy_hours.POWERENERGY_HOUR18_DATE }},
			hours19_date: {{ powerenergy_hours.POWERENERGY_HOUR19_DATE }},
			hours20_date: {{ powerenergy_hours.POWERENERGY_HOUR20_DATE }},
			hours21_date: {{ powerenergy_hours.POWERENERGY_HOUR21_DATE }},
			hours22_date: {{ powerenergy_hours.POWERENERGY_HOUR22_DATE }},
			hours23_date: {{ powerenergy_hours.POWERENERGY_HOUR23_DATE }},
			hours24_date: {{ powerenergy_hours.POWERENERGY_HOUR24_DATE }},
			hours25_date: {{ powerenergy_hours.POWERENERGY_HOUR25_DATE }},
			hours26_date: {{ powerenergy_hours.POWERENERGY_HOUR26_DATE }},
			hours27_date: {{ powerenergy_hours.POWERENERGY_HOUR27_DATE }},
			hours28_date: {{ powerenergy_hours.POWERENERGY_HOUR28_DATE }},
			hours29_date: {{ powerenergy_hours.POWERENERGY_HOUR29_DATE }},
			hours30_date: {{ powerenergy_hours.POWERENERGY_HOUR30_DATE }},
			// End Hours
		{% endfor %}
	}

	function formatDate(type, dateIn)
	{
		let dateOut = "";

		if (type == "Hours")
		{
			dateOut = " "+dateIn.substring(4,6)+"-"+dateIn.substring(2,4)+"	"+dateIn.substring(6,8)+":00";
		}
		else if (type == "Days")
			dateOut = recidToWeekday(dateIn)+" "+dateIn.substring(4,6)+"-"+dateIn.substring(2,4)+"-20"+dateIn.substring(0,2);
		else if (type == "Months")
			dateOut = "20"+dateIn.substring(0,2)+"-"+dateIn.substring(2,4);
		else
			dateOut = "20"+dateIn.substring(0,2)+"-"+dateIn.substring(2,4)+"-"+dateIn.substring(4,6)+":"+dateIn.substring(6,8);
		return dateOut;
	}

	function recidToWeekday(dateIn)
	{
		var YY = "20"+dateIn.substring(0,2);

		//-------------------YY-------------------(MM-1)----------------------DD---------------------HH--MM--SS
		var dt = new Date(Date.UTC(YY, (dateIn.substring(2,4)-1), dateIn.substring(4,6), 1, 1, 1));

		return dt.toLocaleDateString('nl-NL', {weekday: 'long'});

	}
</script>

<script>
	let myChart_hours = document.getElementById("Hours_Chart").getContext('2d');
	var type = "Hours";

	var barChartData_hours = {
		labels: [
			formatDate(type, powerenergy.hours_date.toString()),
			formatDate(type, powerenergy.hours1_date.toString()),
			formatDate(type, powerenergy.hours2_date.toString()),
			formatDate(type, powerenergy.hours3_date.toString()),
			formatDate(type, powerenergy.hours4_date.toString()),
			formatDate(type, powerenergy.hours5_date.toString()),
			formatDate(type, powerenergy.hours6_date.toString()),
			formatDate(type, powerenergy.hours7_date.toString()),
			formatDate(type, powerenergy.hours8_date.toString()),
			formatDate(type, powerenergy.hours9_date.toString()),
			formatDate(type, powerenergy.hours10_date.toString()),
			formatDate(type, powerenergy.hours11_date.toString()),
			formatDate(type, powerenergy.hours12_date.toString()),
			formatDate(type, powerenergy.hours13_date.toString()),
			formatDate(type, powerenergy.hours14_date.toString()),
			formatDate(type, powerenergy.hours15_date.toString()),
			formatDate(type, powerenergy.hours16_date.toString()),
			formatDate(type, powerenergy.hours17_date.toString()),
			formatDate(type, powerenergy.hours18_date.toString()),
			formatDate(type, powerenergy.hours19_date.toString()),
			formatDate(type, powerenergy.hours20_date.toString()),
			formatDate(type, powerenergy.hours21_date.toString()),
			formatDate(type, powerenergy.hours22_date.toString()),
			formatDate(type, powerenergy.hours23_date.toString()),
			formatDate(type, powerenergy.hours24_date.toString()),
			formatDate(type, powerenergy.hours25_date.toString()),
			formatDate(type, powerenergy.hours26_date.toString()),
			formatDate(type, powerenergy.hours27_date.toString()),
			formatDate(type, powerenergy.hours28_date.toString()),
			formatDate(type, powerenergy.hours29_date.toString()),
			formatDate(type, powerenergy.hours30_date.toString()),
		],
		datasets: [{
			label: 'Watt used',
			backgroundColor: 'rgba(255, 99, 132, 0.3)',
			borderColor: 'rgb(255, 99, 132)',
			borderWidth: 1,
			data: [
				powerenergy.hours_pwu,
				powerenergy.hours1_pwu,
				powerenergy.hours2_pwu,
				powerenergy.hours3_pwu,
				powerenergy.hours4_pwu,
				powerenergy.hours5_pwu,
				powerenergy.hours6_pwu,
				powerenergy.hours7_pwu,
				powerenergy.hours8_pwu,
				powerenergy.hours9_pwu,
				powerenergy.hours10_pwu,
				powerenergy.hours11_pwu,
				powerenergy.hours12_pwu,
				powerenergy.hours13_pwu,
				powerenergy.hours14_pwu,
				powerenergy.hours15_pwu,
				powerenergy.hours16_pwu,
				powerenergy.hours17_pwu,
				powerenergy.hours18_pwu,
				powerenergy.hours19_pwu,
				powerenergy.hours20_pwu,
				powerenergy.hours21_pwu,
				powerenergy.hours22_pwu,
				powerenergy.hours23_pwu,
				powerenergy.hours24_pwu,
				powerenergy.hours25_pwu,
				powerenergy.hours26_pwu,
				powerenergy.hours27_pwu,
				powerenergy.hours28_pwu,
				powerenergy.hours29_pwu,
				powerenergy.hours30_pwu
			]
		},
		{
			label: 'Watt return',
			backgroundColor: 'rgba(75, 192, 192, 0.3)',
			borderColor: 'rgb(75, 192, 192)',
			borderWidth: 1,
			data: [
				- powerenergy.hours,
				- powerenergy.hours1,
				- powerenergy.hours2,
				- powerenergy.hours3,
				- powerenergy.hours4,
				- powerenergy.hours5,
				- powerenergy.hours6,
				- powerenergy.hours7,
				- powerenergy.hours8,
				- powerenergy.hours9,
				- powerenergy.hours10,
				- powerenergy.hours11,
				- powerenergy.hours12,
				- powerenergy.hours13,
				- powerenergy.hours14,
				- powerenergy.hours15,
				- powerenergy.hours16,
				- powerenergy.hours17,
				- powerenergy.hours18,
				- powerenergy.hours19,
				- powerenergy.hours20,
				- powerenergy.hours21,
				- powerenergy.hours22,
				- powerenergy.hours23,
				- powerenergy.hours24,
				- powerenergy.hours25,
				- powerenergy.hours26,
				- powerenergy.hours27,
				- powerenergy.hours28,
				- powerenergy.hours29,
				- powerenergy.hours30
			]
		}]
	};

	Chart.defaults.global.defaultFontFamily =	'verdana';
	Chart.defaults.global.defaultFontSize =	12;
	Chart.defaults.global.defaultFontColor =	'#777';

	let populationChart_hours = new Chart(myChart_hours, {
		type: 'bar',
		data: barChartData_hours,
		options: {
			title: {
				display: true,
				fontStyle: 'bold',
				text: "Watts per hour"
			},
			legend: {
				position: "bottom",
				labels: {}
			},
			tooltips: {
				mode: 'label',
				bodySpacing: 10,
				cornerRadius: 0,
				titleMarginBottom: 15,
			},
			scales: {
				xAxes: [{
					stacked: true,
					ticks: {
						autoSkip: false,
						maxRotation: 80,
						minRotation: 80
					}
				}],
				yAxes: [{
				stacked: true,
					ticks: {
						beginAtZero: true,
						stepSize: 1000,
						userCallback: function(value, index, values) {
							value = value.toString();
							value = value.split();
							value = value.join('.');
							return 'Watt ' + value;
						}
					}
				}]
			},
			responsive: true,
		}
	})
</script>

{% include 'overall_footer.html' %}
{% endif %}